{% extends "frame.html" %}

{% block innercontent %}

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Config</h1>              
            </div>
                       
            <div class="table-responsive">

              <p>target_token {{target_token}}
                <br>
                live_run: {{live_run}}
                <br>
                max_slippage: {{max_slippage}}
              </p>
              
                
              
            </div>
          </main>

{% endblock %}